extends layout

block append head
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/jquery-2.1.1.js")
	script(src="/javascripts/waiter.js")

block content
	h1= title
	p Welcome waiter

	#beerplx
		p BEER PLX!